<div class="container">
  <div class="row">
    <div class="wrapper col-md-5 mx-auto">
      <h4 class="font-weight-bold text-center">本当に退会しますか？</h4>

      <p class="text-center mt-5">
        退会すると、会員情報登録や</br>
        これまでの購入履歴が閲覧できなくなります。</br>
        退会する場合は、「退会する」をクリックしてください。
      </p>

      <div class="btn-out mt-4">
        <%= link_to "退会しない", my_page_customers_path, class: "btn btn-next mr-5 mt-3 col-md-4" %>
        <%= link_to "退会する", out_customers_path, method: :patch, class: "btn btn-attention mt-3 col-md-4" %>
      </diV>
    </div>
  </div>
</div>