// Place all the styles related to the public/cart_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_name{
  padding-left: 20px;
}

.cart_table th, .cart_table td{
  height: 77px;
  vertical-align: middle !important
}

.cart_table th:first-child{
  width: 37%;
}

.cart_table td:first-child{
  width: 3%;
  border-right: none !important;
}

.cart_table td:nth-child(2){
  border-left: none !important;
}

.cart_table th:nth-child(n+2){
  width: 14%;
}

#cart_selectdiv select {
  width: 60px;
  padding: 0 5px;
}

.btn-change{
  height: 55px;
  padding: 9px;
  margin-top: 3px;
  margin-left: 9px;
}

.cart_total_table{
  width: 300px!important;
  margin: 0 0 0 auto;
}

.cart_total_table th, .cart_total_table td{
  width: 50%;
  height: 77px;
  vertical-align: middle !important
}