// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
  margin-top: 200px;
  margin-bottom: 200px;
}

.btn-out{
  text-align: center;
}

.table-back{
  background-color: #EDEDED;
}

// .address_form{
//   display: table-cell;
//   vertical-align: middle!important;
// }