// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//-----------top------------//
.sidebar {
  height: 300px;
  margin-top: 40px;
  border: 1px solid #000;
  .sidebar-title {
    text-align: center;
    border-bottom: 1px solid #000;
  }
  ul {
    list-style: none;
  }
}

.main-visual {
  background-image: url(cake.jpg);


  background-position: center;
  height: 300px;
  width: 100%;
  text-align: center;

}
  .mv-content {
    background-color:rgba(255,255,255,0.6);
    height: 300px;
    padding-top: 80px;
  }
  .mv-title {

    color : black;
    margin-bottom: 10px;
  }
  .mv-text {
    margin-top: 40px;
    color : black;
  }

  .top_card_img{
    height: 140px;
    background-size: cover!important;
    background-position: center!important;
  }

  .top_card_style_body{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    height: 100px!important;
    flex: 0 0 auto!important;
  }

  .top_card_style_footer{
    background-color: #fff!important;
    border-top: none !important;
    margin: 0 0 0 auto!important;
    height: 40px;
    padding: 5px 20px!important;
  }

  .top_badge{
    margin-bottom: 10px;
  }

//-----------about------------//
.about-content {
  text-align: center;
}
.about-image {
  height: 450px;
  width: 60%;
  background-image: url(cake2.jpg);
  background-size: cover;
}
