// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th, td{
  height: 60px;
  line-height: 60px;
}

.table-back{
  background-color: #EDEDED;
}

.my-table td {
  border: solid 1px black !important;
  font-weight   : normal;
}

.my-table th {
  border: solid 1px black !important;
  font-weight   : normal;
}

.selectdiv select {
  width: 950px;
}

@media screen and (max-width: 959px) {
  .selectdiv select {
    width: 100%;
  }
}

.subtitle{
  font-weight: bold;
}

.normal_font{
  font-size: 18px;
  margin-left: 20px;
}

.order_info_title{
  font-size: 22px;
}

.order_info{
  font-size: 17px;
}

.order_table th:first-child{
  width: 37%;
}

.order_table th:nth-child(n+2){
  width: 12%;
}

.total_order_table th, .total_order_table td{
  width: 13%;
}
