<div class="container">
  <div class="row">
    <div class="col">
    <section class="about-content">
      <h1 class="about-title">About</h1>
      <p class="about-text">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りまでお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
      <div class="about-image"></div>
    </section>
    
  </div>
</div>