<div class="container">
  <div class="row">
    <div class="col-md-3">
      <section class="sidebar">
        <h4 class="sidebar-title">ジャンル検索</h4>
        <ul class="sidebar-content">
          <li class="sidebar-item">ケーキ</li>
          <li class="sidebar-item">焼き菓子</li>
          <li class="sidebar-item">プリン</li>
          <li class="sidebar-item">キャンディ</li>
        </ul>
      </section>
    </div>
    <div class="col-md-8 col-offset-1">
      <section class="main-visual">
        <div class="mv-content">
          <h2 class="mv-title">ようこそ、ながのCAKEへ!</h2>
          <p class="mv-text">
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の登録はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </section>
      <section class="new-products">
        <h2 class="new-products-title">新着商品</h2>
        <div class="new-products-content">
          商品もってくる
        </div>
      </section>
      <p style="text-align: right;"><%= link_to "すべての商品を見る＞", "#" %></p>
    </div>
  </div>
</div>