<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>ジャンル検索</h2>
      <ul>
        <li>ケーキ</li>
        <li>焼き菓子</li>
        <li>プリン</li>
        <li>キャンディ</li>
      </ul>
    </div>
    <div class="col-md-8 col-offset-1">
      <div class="main-visual">
        <div class="main-content">
          
        </div>
      </div>
      <div class="new-arrival">
        <div class="new-arrival-products">
          <div class="products-image"></div>
          <p>商品名</p>
          <p>￥0,000</p>
        </div>
      </div>
    </div>
  </div>
</div>