<div class="container">
  <div class="row">
    <h4 class="title">会員一覧</h4>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-borderd">
        <thead>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <% if customer.is_deleted == false %>
              <td class="text-success font-weight-bold">有効</td>
            <% else %>
              <td class="text-secondary font-weight-bold">退会</td>
            <% end %>
          </tbody>
        <% end %>
      </table>
      <%= paginate @customers%>
    </div>
  </div>
</div>