<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 mt-5">
      <h4 class="bg-secondary col-3 text-light mb-5 ">会員一覧</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-borderd">
        <thead>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
                有効
              <% else %>
                退会
              <% end %>
            </td>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>