<%= form_with model: order, url: admin_order_path(order), local: true do |f| %>
  <div class="d-flex flex-row">
    <div class="selectdiv">
      <%= f.select :status, Order.statuses_i18n.invert %>
    </div>
  <%= f.submit "更新", class: "btn btn-action offset-sm-1" %>
  </div>
<% end %>