<% genres.each do |genre| %>
  <tr>
    <td class="align-middle td-genre-name"><%= genre.name %></td>
    <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-action" %></td>
  </tr>
<% end %>