// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  justify-content: center;
  .page {
    margin-right: 3%;
  }
  .next , .last{
    padding-right: 1%;
  }
}

.form-group {
  padding-left: 20px;
  span {
    padding-top: 6px;
    margin-left: 8px;
  }
  .col-form-label {
    width: 165px;
    padding:10px 0;
    float:left;
    clear:both;
  }
  .file {
    padding: 6px 0;
  }
  .radio {
    padding: 10px 0;
  }
  .radio:last-child {
    margin-left: 20px;
  }
}

.en {
  font-size: 16px;
}