// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  justify-content: center;
  .page {
    margin-right: 3%;
  }
  .next , .last{
    padding-right: 1%;
  }
}

.form-group {
  padding-left: 20px;
  .col-form-label {
    width: 165px;
    padding: 10px 0;
    float: left;
    clear: both;
  }
  .file {
    padding: 6px 0;
  }
  .radio {
    padding: 10px 0;
    margin-right: 20px;
  }
}

.customer-id {
  padding-top: 8px;
  margin-left: 8px;
}