// Place all the styles related to the admin/order_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.order-product-name {
  width: 180px;
}

.tax {
  padding-right: 60px!important;
}

.subtotal {
  padding-right: 20px!important;
}
