// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-product-btn {
  :hover {
    text-decoration: none;
    color: #28a745;
  }
}

thead {
  background-color: #f7f7f7;
}