// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-product-btn {
  position: relative;
  right: 120px;
  top: 10px;
  :hover {
    text-decoration: none;
  }
}

thead {
  background-color: #f7f7f7;
}

.action{
  text-align: center;
  .btn {
    margin: 0;
  }
}

.new-yen {
  padding-top: 6px;
  margin-left: 8px;
}

.show-yen {
  font-size: 16px;
}