<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center mt-5" style=height:200px;>
      <h1 class="my-5">ご注文ありがとうございました！！！</h1>
      <%= link_to "TOPページに戻る", root_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
</div>