<footer class="align-middle">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p class="footer-content">© Ultimate   TKG.</p>
      </div>
    </div>
  </div>
</footer>